<div class="row">
	<div class="col-12">
		<nb-card>
			<nb-card-header>Scope</nb-card-header>
			<nb-card-body>
				<div class="row">
					<div class="col-10">
						<ngx-scope [data]="data" [channels]="channels"></ngx-scope>
					</div>
					<div class="col-2">
						<nb-card>
							<nb-card-body>
								<nb-checkbox
									*ngFor="let ch of channels_; index as i"
									[style]="'color:' + ch.color"
									[(ngModel)]="ch.enable"
									(checkedChange)="updateChannels()"
									>{{ ch.name }}</nb-checkbox
								>
							</nb-card-body>
						</nb-card>
					</div>
				</div>
			</nb-card-body>
		</nb-card>
	</div>
</div>
